html, body {
    height: 100%;
    }
    body {
    margin: 10;
    padding: 10;
    width: 90%;
    display:compact;
    font-weight: 100;
    font-family: 'Arial';
    font-size: 14pt;
    }
    .container {
    text-align:left;
    display: table-cell;
    vertical-align: middle;
    }
    .contenu {
    text-align:left;
    display: inline-block;
    }
    .pied_page {
    text-align:right;
    display:compact;
    font-family: 'Arial';
    font-size: 11pt;
    color: red;
    }
    .titre_contenu {
    text-align:center;
    font-size: 24pt;
    text-height:max-size;
    color:green;
    }
    .h1 {
    text-align:center;
    font-size: 18pt;
    font-family:'Lucida Console';
    color:tomato;
    }
    .h2 {
    text-align:center;
    font-size: 16pt;
    font-family:'Impact';
    color:coral;
    }


    html,
body {
	height: 100%;
}

body {
	margin: 0;

	font-family: sans-serif;
	font-weight: 100;
}

.contain {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

th {
	text-align: left;
    color: white;
}

thead th {
		background-color: #55608f;
}

tbody tr:hover {
	background-color: rgba(94, 94, 94, 0.3);
	}

tbody td {
		position: relative;
}